@import '../../../stylings/variables';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mukta&display=swap');

.footer {
  color: $color1;
}

.footer-listed {
  margin-right: 125px;
  margin-left: 125px;
}
