@import '../../../stylings/variables';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mukta&display=swap');


.p {
  font-family: 'Mukta', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  font-family: 'Crimson Text', serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
